*~
.metadata/
.settings/
autom4te.cache
.cproject
.project
ltmain.sh
install-sh
sumo_output.log
gcc
g++
src/.deps
src/.libs
src/Makefile
test/ovnisSample
tests/Makefile
CHANGES.html
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libgtest.a
libtool
make.txt
Makefile
Makefile.in
memcheck.txt
missing
README.md

test/.libs/ovnisSample
test/Makefile
test/Makefile.in
test/ovnisSample_static
test/.deps/

*.lo
*.o
.DS_Store

src/devices/wifi my/
src/devices/wifi patricia/
src/devices/wifi/ovnis-wifi-phy-original.cc
src/devices/wifi/ovnis-wifi-phy-original.h

test/Simple of simple-traffic-application-main.cc

