# Ignore all outputFolder directories
outputFolder*/
# Ignore all files ending with ~
*~
# Ignore all eclipse files
.metadata/
.settings/
autom4te.cache
.cproject
.project
/m4
ltmain.sh
install-sh
sumo_output.log
gcc
g++
src/.deps
src/.libs
aclocal.m4
CHANGES.html
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libgtest.a
libtool
make.txt
Makefile
Makefile.in
memcheck.txt
missing
README.md
