# Ignore all outputFolder directories
outputFolder*/
# Ignore all files ending with ~
*~
# Ignore all eclipse files
.metadata/
.settings/
autom4te.cache
.cproject
.project
/m4
ltmain.sh
install-sh
sumo_output.log
gcc
g++
src/.deps
src/.libs
aclocal.m4
CHANGES.html
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libgtest.a
libtool
make.txt
Makefile
Makefile.in
memcheck.txt
missing
README.md
src/beaconing-adhoc-wifi-mac.lo
src/beaconing-adhoc-wifi-mac.o
src/channel-cell.lo
src/channel-cell.o
src/common/.DS_Store
src/commonHelper.lo
src/commonHelper.o
src/dataPacket.lo
src/dataPacket.o
src/dataRecord.lo
src/dataRecord.o
src/devices/wifi my/
src/devices/wifi patricia/
src/devices/wifi/ovnis-wifi-phy-original.cc
src/devices/wifi/ovnis-wifi-phy-original.h
src/dissemination.lo
src/dissemination.o
src/knowledge.lo
src/knowledge.o
src/myEnergy-tag.lo
src/myEnergy-tag.o
src/myMessageID-header.lo
src/myMessageID-header.o
src/myTxEnergy-tag.lo
src/myTxEnergy-tag.o
test/FCE/input_additional.add (copy).xml
test/FCE/input_definition0.def.xml
test/FCE/input_definition20.def.xml
test/FCE/input_definition32.def.xml
test/Luxembourg15/.DS_Store
test/Luxembourg15/Kirchberg.rou copy.xml
test/Simple of simple-traffic-application-main.cc

